@{
    ViewData["Title"] = "Home";
}
@model LoginViewModel

<form asp-action="Index" method="post">

    <label asp-for="Naam"></label>
    <input asp-for="Naam" />


    <label asp-for="Postcode"></label>
    <input asp-for="Postcode" />

    <input type="submit" value="Aanmelden" class="btn btn-primary ms-3 mt-2" />
    @ViewBag.Warning
</form>



